<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write post</title>
</head>
<body>
    <div class="container">
        <h1>Create Post</h1>
        <form action="/post/create" method="POST">
            <input type="number" name="id" placeholder="id">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="age" placeholder="Age">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>